header{
	border: black;
	border-width: 2px;
	background: #00273d00;
	transition: var(--transition);
}
.head_container{
	padding: 20px 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	transition: var(--transition);
}
.effect-header .head_container{
	padding: 10px 0;
}
.effect-header {
	background: var(--blue);
	box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.06);
}
.fixed-logo {
	display: none;
}
.effect-header .fixed-logo {
	display: block;
}
.effect-header .head_logo {
	display: none;
}
.logo {
	float:left;
	margin-left: 20px;
	display: flex;
	align-items: center;
}
.logo img{
	height: 50px;
}
.menu{
	margin-top:5px;
	float:right;
}
.menu ul{
	list-style-type: none;
}
.menu li{
	display: inline;
	margin-right-last:0px; 
}
.menu a{
	text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
	border-radius: 100px;
	color: var(--blue);
	padding: 18px 32px;
	transition: var(--transition);
}
.menu a:hover {	
	color: rgb(0 39 61 / 80%);
}
.effect-header .menu a {
	color: var(--white-text);
}
.effect-header .menu a:hover {
	color: rgb(255 255 255 / 70%);
}
.menu a.join-btn {
	color: var(--blue);
	background-color: var(--green);
}
.menu a.join-btn:hover {
	color: var(--white-text);
	background-color: var(--blue);
}

.icon{
	display: none;
}

menu.responsive{
	position: relative;
}
menu.responsive{
	float: none;
	display: block;
	text-align: left;
}
@media screen and (max-width: 1024px) {
	.menu{
		margin:0;
		margin-right: 20px;
	}
}
@media screen and (max-width: 835px) {
	.logo img {
		width: 100%;
		height: auto;
	}

	.logo {
		width: 30%;
	}

	.menu ul, .logo a {
		flex-direction: row;
		align-items: center;
	}
	.menu a {
		padding: 11px 22px;
	}

}